@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
    font-family: 'Roboto', sans-serif !important;
}

.show{
    display:inline-flexbox;
}
.hidden{
    display:none;
}

.jumbotron {
    overflow-x: scroll;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
}