<%- contentFor( 'body') %>

<div class="jumbotron">
    <div class="content">
        <div class="content-text">
            <h2>Sobre a aplicação.</h2>
            <p>
                Essa aplicação, firstApp, foi desenvolvida como trabalho 1 
                da disciplina de Autoração multimídia II do curso de Sistemas e Mídias Digitais.
            </p>
            <p>
                O objetivo da aplicação no geral é exercitar os conhecimentos dos alunos em HTML5, CSS3 e Javascript. 
                Para desenvolver o sistema utilizamos os pacotes faker e ejs a fim de entender conceitos como HTTP, DOM 
                e MVC.
            </p>
            <p>
                Na aplicação, é possível cadastrar pessoas, atualizar e deletar cadastros. A arquitetura escolhida é o 
                MVC - Model, View, Controller -, que utilizamos através do EJS. Exercitamos, também, um pouco de manipulação
                de banco de dados, apesar de usarmos um pseudo-banco.
            </p>
        </div>
        <img src="images/webdev.png" alt="Desenvolvedor web">
    </div>
</div>