<%- contentFor( 'body') %>

<div class="jumbotron">
    <div class="content">
        <div class="content-text">
            <h2>Bem vindo ao firstApp!</h2>
            <p>Aproveite para se cadastrar no nosso sistema, assim podemos testar os nossos conhecimentos de HTML5, CSS3 e Javascript!</p>
            <p>Você pode se cadastrar na aba de cadastro ou saber um pouco sobre a disciplina na aba sobre.</p>
        </div>
        <img src="images/home.jpg" alt="Pessoas conversando">
    </div>
</div>